<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Party</th>
        </tr>
        </thead>
        <tr ng-repeat="m in members" ng-click="showBio(m)">
            <td>{{$index + 1 + count}}.</td>
            <td> {{m.lastName}} {{m.name}}</td>
            <td>
                <div ng-repeat="p in m.parties">{{$index + 1}}. {{p.title}}</div>
            </td>
        </tr>
    </table>
    <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm text-center"
                    boundary-links="true" rotate="false"
                    ng-change="getMembers(currentPage, memberName)"></uib-pagination>
</div>

