<section id="member" class="col-md-8 col-md-offset-4 col-xs-offset-4">
    <div class="container" ng-repeat="d in docs">
        <div class="row">
            <div id="{{d.id}}" class="endpoint-doc">

                <h1 class="heading">{{d.title}}</h1>
                <br>

                <h2><i>{{d.description}}</i></h2>

                <div class="col-md-12">
                    <h3 class="heading">Resource URL</h3>

                    <p>{{d.url}}</p>
                </div>
                <div class="col-md-12 col-xs-12">
                    <h3 class="heading" translate="RESOURCE_INFO"></h3>

                    <div class="table-responsive table-striped col-sm-4 col-xs-8">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td translate="RESPONSE_FORMATS"></td>
                                <td>{{d.info[0]}}</td>
                            </tr>
                            <tr>
                                <td translate="REQUIRE_AUTH"></td>
                                <td>{{d.info[1]}}</td>
                            </tr>
                            <tr>
                                <td translate="RATE_LIMIT"></td>
                                <td>{{d.info[2]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3 class="heading" translate="PARAMETERS"></h3>

                    <div class="table-responsive table-condensed col-md-7 col-xs-12">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="p in d.params">
                                <td class="col-md-2">
                                    <h3 class="heading"><b>{{p.name}}</b></h3>

                                    <p><i>{{p.req}}</i></p>
                                </td>
                                <td>
                                    <p class="text-justify">{{p.desc}}</p>
                                    <br>

                                    <p class="values"><b translate="EXAMPLE_VAL"></b>: {{p.example}}</p>

                                    <p class="values"><b translate="DEFAULT_VAL"></b>: {{p.default}}</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3 class="heading" translate="EXAMPLE_REQ"></h3>

                    <p>{{d.request}}</p>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <h3 class="heading" translate="EXAMPLE_RES"></h3>
                    <pre><p>{{formatJson(d.result)}}</p></pre>
                </div>
            </div>
        </div>
    </div>
</section>

