<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="heading">SEARCH</h2>

            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="partyName">
                </div>
                <button ng-click="getParties(1, partyName)" class="btn btn-default">Search</button>
            </form>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <td>No</td>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="p in parties" ng-class="{'selected':$index == selectedRow}" ng-click="getMembers(p.id, currentPage1, $index)">
                        <td>{{$index + 1 + count}}.</td>
                        <td>{{p.title}}</td>
                    </tr>
                </table>
                <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                                class="pagination-md text-center"
                                boundary-links="true" rotate="false"
                                ng-change="getParties(currentPage, partyName)"></uib-pagination>
            </div>


        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h2 class="heading">Members</h2>

            <div class="table-responsive">
                <table class="table table-hover table-condensed" id="table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="m in members">
                        <td>{{$index + 1 + count1}}.</td>
                        <td> {{m.lastName}} {{m.name}}</td>
                    </tr>
                </table>
                <uib-pagination total-items="totalItems1" ng-model="currentPage1" max-size="maxSize1"
                                class="pagination-md"
                                boundary-links="true" rotate="false"
                                ng-change="getMembers(id, currentPage1)"></uib-pagination>
            </div>
        </div>
    </div>
</div>