<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2 class="heading" translate="SESSIONS"></h2>

            <div class="table-responsive col-md-11">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th translate="NO"></th>
                        <th translate="DATE"></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="s in sctrl.sessions" ng-class="{'selected':$index == sctrl.selectedRow}"
                        ng-click="sctrl.getSpeeches(s,  sctrl.spag1.currentPage = 1, $index)">
                        <td>{{$index + 1 + sctrl.spag.count}}.</td>
                        <td> {{s.date}}</td>
                    </tr>
                </table>
                <uib-pagination total-items="sctrl.spag.totalItems"
                                ng-model="sctrl.spag.currentPage"
                                max-size="sctrl.spag.maxSize"
                                class="pagination-md text-center"
                                boundary-links="true"
                                rotate="false"
                                previous-text="<" next-text=">" first-text="<<" last-text=">>"
                                ng-change="sctrl.getSessions(sctrl.spag.currentPage)"></uib-pagination>
            </div>
        </div>
        <div class="col-md-7">
            <h2 class="heading" translate="SPEECHES"></h2>

            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th translate="NO"></th>
                        <th translate="DATE"></th>
                        <th translate="MEMBER"></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="s in sctrl.speeches" ng-class="{'selected':$index == sctrl.selectedRowSpeech}"
                        ng-click="sctrl.showSpeechText(s, $index)" data-toggle="modal" data-target="#myModal">
                        <td>{{$index + 1 + sctrl.spag1.count1}}.</td>
                        <td ng-if="s.sessionDate">{{s.sessionDate}}</td>
                        <td ng-if="s.creator">{{s.creator.lastName}} {{s.creator.firstName}}</td>
                    </tr>
                </table>
                <uib-pagination total-items="sctrl.spag1.totalItems"
                                ng-model="sctrl.spag1.currentPage"
                                max-size="sctrl.spag1.maxSize"
                                class="pagination-md"
                                boundary-links="true"
                                rotate="false"
                                previous-text="<" next-text=">" first-text="<<" last-text=">>"
                                ng-change="sctrl.getSpeeches(sctrl.session, sctrl.spag1.currentPage, null)"></uib-pagination>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Speech date: {{sctrl.date}}</h4>
                        </div>
                        <div class="modal-body">
                            <p id="speechText">{{sctrl.text}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" translate="CLOSE"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h2 class="heading">AGENDA</h2>

            <div class="panel">
                <p ng-repeat="a in sctrl.agenda" class="text-justify">{{$index + 1}}. {{a}}</p>
            </div>
        </div>
        <div class="col-md-7">
            <h2 class="heading" translate="TRANSCRIPT"></h2>

            <div class="panel">
                <p class="text-justify">{{sctrl.transcript}}</p>
            </div>
        </div>
    </div>
</div>