<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>No</th>
            <th>Date</th>
        </tr>
        </thead>
        <tr ng-repeat="s in speeches" ng-class="{'selected':$index == selectedRowSpeech}" ng-click="showSpeechText(s, $index)" data-toggle="modal" data-target="#myModal">
            <td>{{$index + 1 + count1}}.</td>
            <td ng-if="s.sessionDate">{{s.sessionDate}}</td>
        </tr>
    </table>
    <uib-pagination total-items="totalItems1" ng-model="currentPage1" max-size="maxSize1"
                    class="pagination-md"
                    boundary-links="true" rotate="false"
                    ng-change="getSpeeches(id, currentPage1)"></uib-pagination>
</div>


