<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th translate="NO"></th>
            <th translate="DATE"></th>
        </tr>
        </thead>
        <tr ng-repeat="s in mctrl.speeches" ng-class="{'selected':$index == mctrl.selectedRowSpeech}" ng-click="mctrl.showSpeechText(s, $index)" data-toggle="modal" data-target="#myModal">
            <td>{{$index + 1 + mctrl.mpag1.count1}}.</td>
            <td ng-if="s.sessionDate">{{s.sessionDate}}</td>
        </tr>
    </table>
    <uib-pagination total-items="mctrl.mpag1.totalItems"
                    ng-model="mctrl.mpag1.currentPage"
                    max-size="mctrl.mpag1.maxSize"
                    class="pagination-md text-center"
                    boundary-links="true"
                    rotate="false"
                    previous-text="<" next-text=">" first-text="<<" last-text=">>"
                    ng-change="mctrl.getSpeeches(mctrl.id, mctrl.mpag1.currentPage)"></uib-pagination>
</div>


