#sidebar {
    height: 100%;
    position: fixed;
    overflow: hidden;
    padding-top: 55px;
}

#sidebar, #sidebar a {
    color: cornflowerblue;
    background-color: #021C35;
}

section {
    padding-top: 30px;
    padding-bottom: 100px;
    margin-bottom: -100px;
    overflow-x: hidden;
}

.panel {
    padding-top: 15px;
}

#sidebar > .nav-stacked > li > a:hover,
#sidebar > .nav-stacked > li > .active,
#sidebar > .nav-stacked > li > .focus {
    color: indianred;
}

#sidebar > .nav-stacked > li > a {
    padding-bottom: 3px;
    transition: all .1s linear;
}

#sidebar > .nav-stacked > li > a {
    transform: scale(1.1);
}
