<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Mapping details -->
		<mapping package="rs.otvoreniparlament.api.domain" />
		<mapping class="rs.otvoreniparlament.api.domain.Profesija" />
		<mapping class="rs.otvoreniparlament.api.domain.Mesto" />
		<mapping class="rs.otvoreniparlament.api.domain.Drzava"/>
		<mapping class="rs.otvoreniparlament.api.domain.GrupePrijateljstva"/>
		<mapping class="rs.otvoreniparlament.api.domain.Poslanik"/>
		<mapping class="rs.otvoreniparlament.api.domain.ImovinskaKarta"/>
		<mapping class="rs.otvoreniparlament.api.domain.Lista"/>
		<mapping class="rs.otvoreniparlament.api.domain.MedjunarodnaOrganizacija"/>
		<mapping class="rs.otvoreniparlament.api.domain.WebPrezentacija"/>
		<mapping class="rs.otvoreniparlament.api.domain.PolitickaOrganizacija"/>
	</session-factory>
</hibernate-configuration>
