<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Open Parliament</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom CSS -->
    <link href="css/example-styles.css" rel="stylesheet">

    <!-- Core Angular-->
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular/ui-bootstrap-tpls-0.14.2.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-animate.min.js"></script>
</head>

<body id="page-top" ng-app="examplesApp">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="./">Open parliament</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="./documentation-page.html">Documentation</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Examples <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="example-page.html">Members</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Parties</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sessions</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container" ng-controller="ExampleCtrl">
    <div class="row">
        <div class="col-md-6">
            <h2 class="section-heading">SEARCH</h2>

            <div>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="memberName">
                    </div>
                    <button ng-click="getMembers(1, memberName)" class="btn btn-default">Search</button>
                </form>
            </div>
            <div ng-include src="'views/member.html'"></div>

        </div>
        <div class="col-md-6">
            <h2 class="section-heading">BIO</h2>

            <div class="panel">
                <p><span ng-if="bio.birthPlace">{{bio.birthPlace}}</span><span
                        ng-if="bio.birthPlace && bio.birthDate">, </span>{{bio.birthDate}}</p>

                <p ng-if="bio.biography" class="text-justify">{{bio.biography}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="section-heading">SPEECHES</h2>

        <div class="col-md-12" ng-include src="'views/speech.html'"></div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Speech date: {{date}}</h4>
                    </div>
                    <div class="modal-body">
                        <p id="speechText">{{text}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<script type="text/javascript" src="js/examplesApp.js"></script>

</body>
</html>